@font-face {
    font-family: 'Valorant';
    src: url('fonts/Valorant.ttf') format('truetype');
}

body {

    padding: 0;
    font-family: 'jersey', sans-serif;
    width: 80%;
    margin: auto;
}

.back-link {
    text-decoration: none;
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: white;
    transition: all 0.1s ease;
}

.back-link:hover {
    opacity: 0.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    height: 100px;
    padding: 1rem;
    border-bottom: 1px solid rgb(235, 235, 235);

}

h1 {
    font-family: Valorant, sans-serif;
    color: rgb(0, 0, 0);
}

.navbar img {
    height: 100%;
}

.navbar ul {
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}


.navbar ul li a {
    padding: 1rem;
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar ul li a img {
    height: 50px;
    filter: brightness(100) invert(1);

}

.navbar a:hover {
    opacity: 0.7;
}

button {
    padding: 5px 10px;
    background-color: rgb(196, 43, 43);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(196, 43, 43);
}

.admin {
    align-items: center;
    color: white;
    justify-content: space-between;
    background-color: rgb(201, 123, 123);

    height: 50px;
    padding: 1rem;
    border-bottom: 0px solid rgb(235, 235, 235);
}

.admin h1 {
    color: white;
    margin: 0;
    width: 200px;
}

.admin ul li a {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

table .header {
    background-color: #252525;
    color: white;
}

table .header td {
    padding: 5px;
    font-weight: bold;
}